.cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--fundo-claro);
    padding: 6% 0 5% 0;
}

#titulo {
    color: var(--laranja-destaque);
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 5%;
}

.icon {
    font-size: 25px;
    font-weight: 500;
    color: var(--laranja-destaque);
}

#botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btn_filtro {
    background-color: var(--laranja-destaque);
    color: var(--vinho);
    font-size: 25px;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 5%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.links_esquerda {
    display: flex;
    justify-content: space-between;
    width: 52vw;
}

.link_navegacao {
    display: flex;
    background-color: var(--laranja-destaque);
    width: 48%;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    color: var(--vinho);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    column-gap: 30px;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    #content {
        grid-template-columns: repeat(2, 1fr);
    }

    .links_esquerda {
        flex-direction: column;
        gap: 10px;
        width: 48%;
        margin-bottom: 2%;
    }

    .link_navegacao {
        width: 100%;
    }
}

@media (max-width: 785px) {
    #content {
        grid-template-columns: 1fr;
    }

    #container {
        width: 60%;
    }

    #botoes {
        flex-direction: column;
    }

    #btn_filtro {
        width: 100%;
        margin-bottom: 10px;
    }


    .links_esquerda {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-bottom: 10%;
    }

    .link_navegacao {
        width: 100%;
    }
}